﻿<!DOCTYPE html>
<html>
<head>
    <title>Title info</title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
   
 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
   

    <script type="text/javascript" src="Scripts/app/angular-titles-module.js"></script>
    <script type="text/javascript" src="Scripts/app/angular-titles-controller.js"></script>
</head>
<body ng-app="titlesapp">
    <div  ng-controller="titlesController">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3>{{mydata.TitleName}}</h3>
            </div>
            <div class="modal-body">
                <h1>Details</h1>
                <div class="well">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Title Id</td>
                            <td>{{mydata.TitleId}}</td>
                        </tr>
                        <tr>
                            <td>Title Name</td>
                            <td>{{mydata.TitleName}}</td>
                        </tr>
                        <tr>
                            <td>Title Name Sortable</td>
                            <td>{{mydata.TitleNameSortable}}</td>
                        </tr>
                        <tr>
                            <td>Release Year</td>
                            <td>{{mydata.ReleaseYear}}</td>
                        </tr>


                    </table>
                   
                  
                                  </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
        <div>
            Search:<input type="text" ng-model="searchTitle" />
        </div>
        <table>
            <thead><tr><th>Title:</th></thead>
            <tr class="list-group" ng-repeat="title in titles| filter:searchTitle">
                <td><a href="#" class="list-group-item" ng-click="open(title)">{{title.TitleName}}</a></td>
            </tr>
        </table>
        

       
       


        

    </div>

</body>
</html>
